body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: brown;
  }
  
@media (min-width: 992px) {
    body {
        padding-top: 0;
    }
}

table, td, th {
border: 0px solid black;
}

table {
border-collapse: collapse;
width: 100%;
}

th {
height: 50px;
}

.text-style{
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #343a40;
}

.img-profile{
    margin-left: 0;
    height: 20rem;
}

.cak{
    background-color: brown;
}

.img-banner{
    width: 1200px;
    height: 250px;
}



.ab{
    padding-top: 2rem;
}

.cb{
    max-width: 150px;
}